8.ukol_2/src/main/java/cz/mdw/slama/hw8/client/BankAccountServiceService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.hw8.slama.mdw.cz/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.hw8.slama.mdw.cz/" name="BankAccountServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://service.hw8.slama.mdw.cz/" schemaLocation="http://192.168.99.1:7001/mdw-ukol-8/BankAccountServiceService?xsd=1"/>
</xsd:schema>
</types>
<message name="accountExists">
<part name="parameters" element="tns:accountExists"/>
</message>
<message name="accountExistsResponse">
<part name="parameters" element="tns:accountExistsResponse"/>
</message>
<message name="changeBalance">
<part name="parameters" element="tns:changeBalance"/>
</message>
<message name="changeBalanceResponse">
<part name="parameters" element="tns:changeBalanceResponse"/>
</message>
<message name="getBalance">
<part name="parameters" element="tns:getBalance"/>
</message>
<message name="getBalanceResponse">
<part name="parameters" element="tns:getBalanceResponse"/>
</message>
<message name="validateBalance">
<part name="parameters" element="tns:validateBalance"/>
</message>
<message name="validateBalanceResponse">
<part name="parameters" element="tns:validateBalanceResponse"/>
</message>
<portType name="BankAccountService">
<operation name="accountExists">
<input message="tns:accountExists"/>
<output message="tns:accountExistsResponse"/>
</operation>
<operation name="changeBalance">
<input message="tns:changeBalance"/>
<output message="tns:changeBalanceResponse"/>
</operation>
<operation name="getBalance">
<input message="tns:getBalance"/>
<output message="tns:getBalanceResponse"/>
</operation>
<operation name="validateBalance">
<input message="tns:validateBalance"/>
<output message="tns:validateBalanceResponse"/>
</operation>
</portType>
<binding name="BankAccountServicePortBinding" type="tns:BankAccountService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="accountExists">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="changeBalance">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getBalance">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="validateBalance">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="BankAccountServiceService">
<port name="BankAccountServicePort" binding="tns:BankAccountServicePortBinding">
<soap:address location="http://192.168.99.1:7001/mdw-ukol-8/BankAccountServiceService"/>
</port>
</service>
</definitions>